<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Activitar Template" />
    <meta name="keywords" content="Activitar, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
      <div class="container-fluid">
        <div class="logo">
          <a href="./index.html">
            <strong href="logo">Olympic Touch</strong>
          </a>
        </div>
        <div class="container">
          <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
              <ul>
                <li><a href="./index.html">Главная</a></li>
                <li class="active">
                  <a href="./schedule.html">Выбери тренера</a>
                </li>
                <li><a href="./contact.html">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="img/about-bread.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text">
              <h2>SCHEDULE & CLASSES</h2>
              <div class="breadcrumb-controls">
                <a href="#"><i class="fa fa-home"></i> Home</a>
                <span>Schedule</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Classes Section Begin -->
    <section class="classes-section schedule-page">
      <div class="class-title">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="section-title">
                <h2>Our Classes</h2>
                <p>
                  Our Crossfit experts can help you discover new training techniques and exercises <br />that offer a
                  dynamic and efficient full-body workout.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row">
          <div class="col-lg-4">
            <div
              class="classes-item set-bg"
              data-setbg="https://sparkflyphotography.com/wp-content/uploads/2015/04/CPY-Instructor-Photos-052-900x600.jpg"
            >
              <h4>YOGA</h4>
              <p>Йога совмещает в себе не только физическую нагрузку на мышцы, но и несет в себе гармонию</p>
              <h4 color="White">Анастасия Малышева</h4>
              <a href="#" class="primary-btn f-btn">Записаться</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="classes-item set-bg"
              data-setbg="https://kartinkin.net/uploads/posts/2021-10/1635247957_4-kartinkin-net-p-pilates-art-krasivo-4.jpg"
            >
              <h4>AEROBICS</h4>
              <p>Форма физических упражнений, которая сочетает в себе ритмичные аэробные упражнения</p>
              <h4 color="White">Екатерина Ушакова</h4>
              <a href="#" class="primary-btn f-btn">Записаться</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="classes-item set-bg"
              data-setbg="https://i.pinimg.com/originals/e5/55/b3/e555b32e009e92f91e0d502727984224.jpg"
            >
              <h4>Strength training</h4>
              <p>Вид силовых тренировок для развития силы и размера скелетных мышц</p>
              <h4 color="White">Михаил Кондратенко</h4>
              <a href="#" class="primary-btn f-btn">Записаться</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="classes-item set-bg"
              data-setbg="https://recordregion.ru/wp-content/uploads/8/a/d/8ad7424f55ead0d6f676e86fc7cd140e.jpeg"
            >
              <h4>Crossfit</h4>
              <p>Силовая, подготовительная и общая фитнес-программа</p>
              <h4 color="White">Юлия Новичкова</h4>
              <a href="#" class="primary-btn f-btn">Записаться</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="classes-item set-bg" data-setbg="https://forexdengi.com/filedata/fetch?id=26829820">
              <h4>Stretching</h4>
              <p>Комплекс упражнений, которые помогают растянуть мышцы</p>
              <h4 color="White">Виктория Нагибина</h4>
              <a href="#" class="primary-btn f-btn">Записаться</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="classes-item set-bg"
              data-setbg="https://fikiwiki.com/uploads/posts/2022-02/1645054280_16-fikiwiki-com-p-kartinki-mma-17.jpg"
            >
              <h4>Martial Arts</h4>
              <p>Различные виды единоборств и самозащиты разного вида</p>
              <h4 color="White">Егор Астапов</h4>
              <a href="#" class="primary-btn f-btn">Записаться</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Classes Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
